body{
    background-image: url(https://wallpaperaccess.com/full/2681660.jpg);
   position:fixed;
   

}


h1{
    color:orangered;
}

h1:hover{

background-color:white;
color:black;


}



.container{
    font-size:0.7cm;


 color:white;
}
